page-announcement {
.propic{
		width:300px;
		height:200px;
		margin:0 auto;
	}
.info{
 	background-color:rgba(255, 0, 0, 0.4);
 	text-align:center;
 	width: 100%;
 	padding-top:5%;
 	margin: 0 auto;
	 }
.info2{
	width:100%;
	margin: 0 auto;
}
ion-row{
	 	padding-top:5%;
	 }

}
